

<div *ngIf="chatRoom">
  <div class="chat-room-item" (click)="isJoined$ ? loadJoinedChatRoom() : null">
      <p class="chat-name">Name : {{ chatRoom.name}}</p>

      <p *ngIf="chatRoom.messages.length !== 0" class="chat-info">
        Dernier message : {{ chatRoom.messages[chatRoom.messages.length - 1] }}
      </p>

      <p *ngIf="chatRoom.messages.length === 0" class="chat-info">
        Participants : {{ chatRoom.participants.length }}
      </p>

      <button (click)="chatRoomBtnClicked()">
        <span *ngIf="isJoined$ | async; else joinLabel">Quitter</span>
        <ng-template #joinLabel>Rejoindre</ng-template>
      </button>
  </div>
</div>


