

<div *ngIf="chatRoom">
  <div class="chat-room-item" (click)=" chatRoomClicked()">
      <p class="chat-name">Name : {{ chatRoom.name}}</p>

      <p *ngIf="chatRoom.messages.length !== 0" class="chat-info">
        Dernier message : {{ chatRoom.messages[chatRoom.messages.length - 1] }}
      </p>

      <p *ngIf="chatRoom.messages.length === 0" class="chat-info">
        Participants : {{ chatRoom.participants.length }}
      </p>

      <button>{{ (isJoined$ | async) ? "Quitter" : "Rejoindre"}}</button>
  </div>
</div>


