<chat-button (click)="createChatroom()" text='Create chatrooms'></chat-button>










<!-- <chat-button-group>test</chat-button-group> -->
<!-- <chat-file-uploader></chat-file-uploader> -->
<!-- <chat-from-to from="test"></chat-from-to> -->
<chat-input></chat-input>
<chat-label></chat-label>
<!-- <chat-loader></chat-loader> -->
<!-- <chat-modal></chat-modal> -->
<!-- <chat-notification></chat-notification> -->
<!-- <chat-package></chat-package> -->
<chat-progressbar></chat-progressbar>
<!-- <chat-status-label></chat-status-label> -->
<chat-suggestions-card title="test" text="test"></chat-suggestions-card>
<!-- <chat-svg-icon></chat-svg-icon> -->
<!-- <chat-svg-logo></chat-svg-logo> -->
<!-- <chat-switch></chat-switch> -->
<!-- <chat-tabs></chat-tabs> -->
<!-- <chat-theme-switch></chat-theme-switch> -->
<chat-view-switch></chat-view-switch>