@if (this.user(); as user) {
  <div class="chat-dashboard">

    @if (this.buttons.length > 0) {
      <div class="flex flex-row pt-8 pb-6">
        <div class="flex flex-row items-center w-full">
          <chat-button-group
            [buttons]="this.buttons"
            [(choice)]="this.viewSelected"
          />
        </div>
      </div>
    }

    <div>
      <input [(ngModel)]="createChatRoomName" type="text" style="background-color: white; padding: 5px; border: 1px solid black; margin-bottom: 10px;" placeholder="Nom du chat room" />
      <button (click)="createRoom()" style="background-color: purple; border: 1px solid black; padding: 5px; margin-left: 5px;">Créer un chat room</button>
    </div>

    <div>
      @for (room of chatRooms(); track room.id) {
        <a href="/chat/{{room.id}}"><div class="chatRoom">{{room.name}}</div></a> <button (click)="DeleteRoom(room.id)">Delete</button>
      }
    </div>
  </div>
}
