.chat-dashboard-card {
	@apply flex items-center w-auto pl-4 pr-6 py-6
		border rounded-2xl backdrop-blur-xl
		bg-white border-gray-200
		lg:w-full;

	&:is(.dark *) {
		@apply bg-gray-800 border-gray-700;
	}

	.dashboard-card .dashboard {

		&:is(.dark *) {
			@apply border-gray-700;
		}
	}
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup h3 {
  margin-top: 0;
}

.popup input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup button {
  margin-right: 10px;
}
