@if (this.user(); as user) {
  <div class="dashboard">
    <div class="chat-dashboard-header">
      <h2 class="text-4xl font-semibold text-gray-900 dark:text-white">Hello {{ user.firstName }} !</h2>
      <div class="flex mt-6 flex-col space-y-6 lg:flex-row lg:space-x-6 lg:space-y-0">
        <div class="chat-dashboard-card">
          <div class="flex items-center text-gray-900 dark:text-white">
            <p class="text-center">
              Lx'up révolutionne la manière dont nous communiquons au quotidien. 
              Conçu pour répondre aux besoins des utilisateurs exigeants, Lx'up combine messagerie instantanée et une gestion intuitive des groupes. 
              Avec une interface moderne, Lx'up se positionne comme la solution idéale pour échanger en toute simplicité.
              Transformez votre façon de rester connecté avec Lx'up : l'application qui place vos échanges au cœur de son innovation.
            </p>
          </div>
        </div>
      </div>

      <div class="chatrooms-list mt-8">
        <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">Vos Groupes de Conversation</h3>
        <div class="flex flex-wrap gap-4 mt-4">
          <div class="chatroom-card" *ngFor="let chatroom of chatrooms">
            <div class="p-4 bg-gray-100 dark:bg-gray-800 rounded-lg shadow-lg">
              <h4 class="text-lg font-semibold text-gray-900 dark:text-white">{{ chatroom.name }}</h4>
              <div class="flex justify-between mt-3">
                <span class="text-sm text-gray-600 dark:text-gray-400 mr-2">Participants: {{ chatroom.participants.length }}</span>
                <button (click)="joinChatRoom(chatroom.id)" class="text-blue-600 dark:text-blue-400 hover:underline ml-2">Rejoindre</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-center gap-x-5 mt-10">
        <div class="mt-10 flex items-center justify-center">
          <button (click)="openCreateChatRoomPopup()" class="btn btn-primary">
            <p class="dark:text-white">Créez un groupe de conversation</p>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isCreateChatRoomPopupOpen" class="popup-overlay">
    <div class="popup">
      <h3>Créer un groupe de conversation</h3>
      <input type="text" [(ngModel)]="newChatRoomName" placeholder="Nom du groupe" />
      <button (click)="createChatRoom()">Créer</button>
      <button (click)="closeCreateChatRoomPopup()">Annuler</button>
    </div>
  </div>
}
