@if (this.user(); as user) {
  <div class="chat-dashboard">

    @if (this.joinedChatRoomsButtons().length > 0) {
      <div class="flex flex-row pt-8 pb-6">
        <div class="flex flex-row items-center w-full">
          <chat-button-group
            [buttons]="this.joinedChatRoomsButtons()"
            [(choice)]="this.roomSelected"
          />
        </div>
      </div>
    }

    @if (this.roomSelected(); as room) {
      <div class="flex flex-row items-center">
        <input
          
          type="text"
          class="bg-white rounded-lg p-2 border"
          placeholder="Message"
        />
        <chat-button
          
          type="green"
          class="mx-4 w-fit"
          prefix="iconoirSend"
          text="Send"
        />
      </div>

      <div>
        <div>
          @for (m of room.messages; track $index) {
            @if (m.content.startsWith("#SYSTEM#:")) {
              <div class="text-center text-gray-500">{{m.content}}</div>
            } @else if(m.authorId === user.id) {
              <div class="flex flex-row justify-end">
                <div class="bg-green-500 text-white p-2 rounded-lg m-2">
                  {{m.content}}
                </div>
              </div>
            } @else {
              <div class="flex flex-row justify-start">
                <div class="bg-gray-200 p-2 rounded-lg m-2">
                  {{m.content}}
                </div>
              </div>
            }
          }
        </div>
      </div>
    }
    

    <div class="flex flex-row items-center">
      <input [(ngModel)]="createChatRoomName" type="text" class="bg-white rounded-lg p-2 border" placeholder="Nom du chat room" />
      <chat-button (click)="createRoom()" type="green" class="mx-4 w-fit" prefix="iconoirPlus" text="Create chat room"></chat-button>
    </div>

    <div class="flex flex-wrap gap-2 mt-4">
      @for (room of chatRooms(); track room.id) {
        <div class="bg-white p-3 rounded-lg shadow-md flex flex-col items-center">
          <div class="mr-2">{{room.name}}</div>
          <div class="flex flex-row mt-2">
            <chat-button [disabled]="isJoined(room.id)" (click)="JoinRoom(room)" class="mx-1" prefix="iconoirNavArrowRight" text="Join"></chat-button>
            <chat-button (click)="DeleteRoom(room.id)" class="mx-1" type="danger" prefix="saxTrashOutline" text="Delete"></chat-button>
          </div>
          
        </div>
      }
    </div>
  </div>
}
