<div class="chat-main-index">
  <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:py-38">
    <div class="text-center">
      @if(user()){
        <p class="chat-main-index-paragraphe">
          Check our chatrooms and start chatting with other users
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a [routerLink]="sitemap.chanels.route">
            <chat-button text="ChatRooms" />
          </a>
        </div>
      }@else {
        <p class="chat-main-index-paragraphe">
          Please log in to visit our website
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a [routerLink]="sitemap.auth.route">
            <chat-button text="Log in" />
          </a>
        </div>
      }
    </div>
  </div>
</div>

