<div class="card my-2">
	<div class="card-body">
		<div class="card-title text-center">Bienvenue dans la salle de discussion : {{ this.name }}</div>
		<div><b>Utilisateurs présent dans la salle de discussion :</b>
			@for(user of participants; track user.id){
				<span>| {{ user.firstName }} {{ user.lastName }} | </span>
			}
		</div>
	</div>
</div>
<button class="btn btn-danger" (click)="leaveChatRoom()">Quittez la salle</button>
<div class="flex flex-column">
	@for(message of messages; track message.id){
		@if(!message.isNotificationForUser)
		{
			<div class="card mt-1">
				<div class="card-body flex justify-content-between">
					<div>{{ message.authorFullName }} : {{ message.content }}</div>
					<div>
						<button (click)="setEditedMessageId(message.id); setnewMessageContent(message.content)" class="mx-1">
							<svg style="width: 20px; height: 20px; fill: orange;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
						</button>
						<button (click)="deleteMessage(message.id)" class="mx-1">
							<svg style="width: 20px; height: 20px; fill: red;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></button>
					</div>
				</div>
			</div>
		}
		@else
		{
			<div><b>{{ message.content }}</b></div>
		}
	}
</div>

<div class="card mt-3">
	<div class="card-body flex justify-content-center align-items-center" [ngClass]="isMessageOnEdit ? 'block' : 'hidden'">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default">Modifier le message</span>
			</div>
			<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="message" id="newMessage" [(ngModel)]="newMessageContent">
		</div>
		<button class="btn btn-warning" (click)="updateMessage()" [disabled]="this.newMessageContent == ''">Update</button>
	</div>
</div>

<div [ngClass]="whoIsWritting != '' ? 'block card p-2 mt-2' : 'hidden'">{{ whoIsWritting }}</div>

<div class="card mt-3">
	<div class="card-body flex justify-content-center align-items-center">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default">Nouveau message</span>
			</div>
			<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="message" id="newMessage" (input)="onInputChange()" [(ngModel)]="newMessage">
		</div>
		<button class="btn btn-primary" (click)="sendMessage()" [disabled]="newMessage == ''">Envoyer</button>
	</div>
</div>
