<div class="flex flex-col gap-4">
		<form (submit)="this.createRoom($event)" class="flex justify-between items-center p-2 flex-1 gap-4 rounded-md border-2">
			<h1>ChatRoom</h1>
			<input [(ngModel)]="newRoomName" name="newRoomName" id="newRoomName" type="text" placeholder="Room name" class="border rounded-sm w-full p-2"/>
			<button type="submit" class="rounded-lg bg-blue-700 text-white p-3 m-3">Créer salle</button>
		</form>
		<ul class="h-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 p-4 rounded-md border-2 overflow-scroll">
			@for (room of this.rooms(); track room.id) {
				<li>
					<button class="w-full h-full rounded-md bg-gray-200 p-2" (click)="this.joinRoom(room.id)">Salle {{ room.name }}</button>
				</li>
			}
		</ul>

	<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4 mt-4">
		@for (room of this.joinedRooms(); track room.id) {
			<app-chatroom [roomId]="room.id" [user]="this.user"></app-chatroom>
		}
	</ul>

</div>
